html {
    font-size: 50px;
}

body {
    min-height: 100vh;
    margin: 0;
    font: 1.6rem/2rem sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centercircle {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.centercircle__bgcircle {
    position: relative;
    min-width: 50%;
    min-height: 50%;
    background: #00aceb;
}

.centercircle__bgcircle:nth-child(2) {
    border-top-right-radius: 100%;
    background: #fff;
}

.centercircle__bgcircle:nth-child(4) {
    border-bottom-right-radius: 100%;
}

.centercircle__bgcircle:nth-child(1) {
    border-top-left-radius: 100%;
}

.centercircle__bgcircle:nth-child(3) {
    border-bottom-left-radius: 100%;
    background: #fff;
}

.centercircle__bgcircle:nth-child(1):before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 2px #000 solid;
    border-right: 2px #000 solid;
}

.centercircle__bgcircle:nth-child(4):before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 2px #000 solid;
    border-left: 2px #000 solid;
}

.centercircle__bgcircle:nth-child(2):before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 2px #000 solid;
    border-left: 2px #000 solid;
}

.centercircle__bgcircle:nth-child(3):before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 2px #000 solid;
    border-right: 2px #000 solid;
}

.centercircle:before {
    content: '';
    position: absolute;
    background: #000;
    width: 250px;
    height: 250px;
    top: -33%;
    bottom: 0;
    right: 0;
    left: -33%;
    border-radius: 50%;
    transform: rotate();
}

.rotate__b {
    font-size: 38px;
    position: absolute;
    color: #fff;
    top: -55px;
    left: 0px;
    transform: rotate(-40deg);
    animation: 5s linear 0s normal none infinite running circle;
}

.rotate__m {
    font-size: 38px;
    position: absolute;
    color: #fff;
    top: -70px;
}

.rotate__w {
    font-size: 38px;
    position: absolute;
    color: #fff;
    top: -55px;
    right: 0px;
    transform: rotate(40deg);
}

@keyframes circle {
    0% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(-40deg);
    }
}
